CONFIG_SAMSUNG_GPIO_EXTRA=64
CONFIG_V1A=y
CONFIG_V1A_WIFI=y
CONFIG_GPS_BCM47521=y
CONFIG_CMDLINE="console=ttySAC2,115200n8 vmalloc=512M androidboot.console=ttySAC2"
CONFIG_CFG80211_REG_NOT_UPDATED=y
CONFIG_MUIC_MAX77803_SUPPORT_LANHUB=y
CONFIG_MUIC_FULL_DUMP_ENABLE=y
CONFIG_MUIC_MAX77888_ONESHOT=y
CONFIG_MUIC_MAX77888_SUPPORT_PS_CABLE=y
CONFIG_MUIC_MAX77888_ONESHOT=y
CONFIG_BCM4354=y
CONFIG_TOUCHSCREEN_ATMEL_MXTS=y
CONFIG_TOUCHSCREEN_ATMEL_MXT1664S=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_G9PLL=y
CONFIG_INPUT_BOOSTER=y
CONFIG_MFD_MAX77802=y
CONFIG_MFD_MAX77888=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_MHL_VERSION=0x21
CONFIG_ION_EXYNOS_DRM_VIDEO=210944
CONFIG_ION_EXYNOS_MEMSIZE_SECDMA=128
CONFIG_FB_DBLC_PWM=y
CONFIG_SUPPORT_WQXGA=y
CONFIG_S5P_DP=y
CONFIG_S5P_DP_PSR=y
CONFIG_S5P_DP_ESD_RECOVERY=y
CONFIG_LCD_PLATFORM=y
CONFIG_LCD_LSL122DL01=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_SND_SOC_ADONISUNIV_WM5102=y
CONFIG_MMC_BKOPS_NODE_UID=1000
CONFIG_MMC_BKOPS_NODE_GID=1001
CONFIG_FEAT_LED_MAX77888=y
CONFIG_RTC_DRV_MAX77802=y
CONFIG_HAPTIC_ISA1200=y
CONFIG_HAPTIC_ISA1400=y
CONFIG_SENSORS=y
CONFIG_SENSORS_BMI055=y
CONFIG_SENSORS_AK8963C=y
CONFIG_SENSORS_CM3323=y
CONFIG_FUELGAUGE_MAX17050=y
CONFIG_FUELGAUGE_MAX17050_COULOMB_COUNTING=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_ICE4_TWO_FUNC_INPUT=y
# CONFIG_SECURITY_SELINUX_DEVELOP is not set