CONFIG_TARGET_LOCALE_USA=y
CONFIG_GPS_BCM47521=y
CONFIG_CMDLINE="console=ttySAC2,115200n8 vmalloc=512M androidboot.console=ttySAC2 s3cfb.bootloaderfb=0x67000000 lcdtype=4210724"
CONFIG_CFG80211_REG_NOT_UPDATED=y
CONFIG_NFC_DEVICES=y
CONFIG_BCM2079X_NFC_I2C=y
CONFIG_MUIC_MAX77803_SUPPORT_OTG_AUDIO_DOCK=y
CONFIG_MUIC_MAX77803_SUPPORT_SMART_DOCK=y
CONFIG_MUIC_MAX77803_SUPPORT_PS_CABLE=y
CONFIG_SEC_MODEM_V2=y
CONFIG_BCM4339=y
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_WAKE_GESTURES is not set
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_G10PM=y
CONFIG_W1=y
CONFIG_W1_MASTER_GPIO_EXYNOS=y
CONFIG_W1_SLAVE_DS28EL15=y
CONFIG_MFD_MAX77803=y
CONFIG_MFD_SEC_CORE=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_ION_EXYNOS_DRM_VIDEO=266240
CONFIG_FB_MIPI_DSIM=y
CONFIG_FB_I80IF=y
CONFIG_LCD_MIPI_S6E3FA0=y
CONFIG_SND_SOC_ADONISUNIV_YMU831=y
CONFIG_HID_KK_UPGRADE=y
CONFIG_USB_DUN_SUPPORT=y
CONFIG_MMC_BKOPS_NODE_UID=1000
CONFIG_MMC_BKOPS_NODE_GID=1001
CONFIG_LEDS_AN30259A=y
CONFIG_RTC_DRV_SEC=y
CONFIG_IIO=y
CONFIG_IIO_ST_HWMON=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_MOTOR_DRV_MAX77803=y
CONFIG_SENSORS_SYSFS=y
CONFIG_SENSORS_SSP=y
CONFIG_SENSORS_SSP_STM=y
CONFIG_SENSORS_SSP_MPU6500=y
CONFIG_SENSORS_SSP_AK09911=y
CONFIG_SENSORS_SSP_MAX88921=y
CONFIG_SENSORS_SSP_LPS25H=y
CONFIG_SENSORS_SSP_SHTC1=y
CONFIG_SENSORS_SSP_SHTC1_VER="SM-N900"
CONFIG_SENSORS_SSP_STM32F401=y
CONFIG_SENSORS_SSP_SENSORHUB=y
CONFIG_FUELGAUGE_MAX17048=y