CONFIG_SAMSUNG_GPIO_EXTRA=64
CONFIG_N1A=y
CONFIG_N1A_WIFI=y
CONFIG_GPS_BCM47521=y
CONFIG_SECCOMP=y
CONFIG_CMDLINE="console=ttySAC2,115200n8 vmalloc=512M androidboot.console=ttySAC2 androidboot.hardware=universal5420"
CONFIG_MUIC_MAX77888_SUPPORT_PS_CABLE=y
CONFIG_BCM4339=y
CONFIG_TOUCHSCREEN_ATMEL_MXTS=y
CONFIG_TOUCHSCREEN_ATMEL_MXT1664S=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_G9PLL=y
CONFIG_MFD_MAX77802=y
CONFIG_MFD_MAX77888=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_ION_EXYNOS_DRM_VIDEO=210944
CONFIG_FB_DBLC_PWM=y
CONFIG_SUPPORT_WQXGA=y
CONFIG_S5P_DP=y
CONFIG_S5P_DP_PSR=y
CONFIG_S5P_DP_ESD_RECOVERY=y
CONFIG_LCD_PLATFORM=y
CONFIG_LCD_LSL122DL01=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_SND_SOC_ADONISUNIV_WM5102=y
# CONFIG_USB_EXYNOS_SS_UDC_SSMODE is not set
CONFIG_FEAT_LED_MAX77888=y
CONFIG_RTC_DRV_MAX77802=y
CONFIG_MOTOR_DRV_MAX77803=y
CONFIG_SENSORS=y
CONFIG_SENSORS_BMI055=y
CONFIG_SENSORS_AK8963C=y
CONFIG_SENSORS_CM3323=y
CONFIG_SENSORS_SX9500=y
CONFIG_BATTERY_SWELLING=y
CONFIG_FUELGAUGE_MAX17050=y
CONFIG_FUELGAUGE_MAX17050_COULOMB_COUNTING=y
CONFIG_ICE4_TWO_FUNC_INPUT=y
CONFIG_FRAME_WARN=1536