#
# (C) COPYRIGHT 2013 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the GNU General Public License version 2
# as published by the Free Software Foundation, and any use by you of this program is subject to the terms of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained from Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#
#
if MALI_PLATFORM_THIRDPARTY_NAME = "arndale"

menu "Arndale options"
    depends on MALI_T6XX && MALI_EXPERT && MALI_PLATFORM_THIRDPARTY
    
config MALI_T6XX_DVFS_LIMIT_450
    bool "Enable dvfs limit to 450 MHz"
    depends on MALI_T6XX_DEBUG_SYS && MALI_T6XX_DVFS && MALI_EXPERT
    default n
    help
        Choose this option to force DVFS limit to 450 MHz maximum.
        
endmenu
endif