#
# mhl drivers configuration
#

menu "Mhl(sii8240) device support"


config SAMSUNG_MHL_8240
        bool "Enable Sii8240 MHL Chip Driver"
        default n
        ---help---
          support Sii9244 MHL Chip Driver

config MHL_VERSION
        hex "Number of MHL Version"
        default 0x20
        ---help---
          MHL Version
		  For example, those device compliant
		  with MHL Specification version 2.0
		  shell set this MHL_VERSION to 0x20

config MHL_SWING_LEVEL_VALUE
        hex "MHL swing level"
        default 0x25
        ---help---
          MHL swing level
                support for tuning MHL swing level
                0 1 2 bit data 3 4 5 bit clk
                0x25 is default value 100101
endmenu
